.container{
    margin: 0 15%;
    width: 1200px;
}

header{
    background-color: #ff6900;
    min-height: 90px;
    display: flex;
    position: fixed;
    width: 100%;
    align-items: center;
    z-index: 2;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-gender, .link-account{
    text-align: center;
    display: flex;
    list-style: none;
    gap: 10px;
}

a{
    display: inline;
    color: white;
    text-align: center;
    text-decoration: none;
}

li{
    list-style: none;
    display: inline-block;
}

.logo{
    display: inline-block;
    max-width: 15%;
    text-align: center;
}

.section-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

section{
    width: calc(100%/3);
    margin-bottom: 20px;
    position: relative;
    top: 120px;
}

.card{
    width: calc(100%/3);
    padding: 10px;
}

.add-favorite{
    background-color: white;
    padding: 2% 4%;
    font-size: 28px;
    position: absolute;
    bottom: 89%;
    left: 86%;
}

.discount-label{
    background-color: red;
    font-size: smaller;
    font-weight: bold;
    color: white;
    padding: 1% 3%;
    position: absolute;
    bottom: 27%;
}

.green-label{
    background-color: green;
    color: white;
    padding: 1% 3%;
}

.brand{
    font-size: smaller;
}

.name{
    font-weight: bolder;

}

.current-price{
    color: red;
    font-weight: bold;

}

.original-price{
    font-weight: lighter;
    text-decoration: line-through;
}


footer{
    color: white;
    background-color: #1a1a1a;
    height: 150px;
    
}

.footer-container{
    display: flex;
    justify-content: space-between;
}

.footer-info{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
}

h1{
    font-size: large;
    font-weight: bolder;
}

.link-info{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items:center;
}
